.navbar {
    background-color: var(--background-1);
}

.navbar__logo-icon {
    font-size: 2rem;
    color: var(--color-green);
}

.navbar__logo-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.searchBox {
    width: 275px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
}

.searchBox__button {
    width: 40px;
    height: 40px;
    background-color: var(--color-green);
    color: white;
    cursor: pointer;
}

.searchBox__input {
    padding: 0 10px;
    height: 100%;
    flex: 1;
}